{% extends 'arenda_app/base.html' %}

{% load static %}

{% block content %}
<!--<div class="col-lg-8 px-md-5 py-5">-->
    <!-- Carousel wrapper -->
<div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
      {% for image in images %}
    <button
      data-mdb-target="#carouselDarkVariant"
      data-mdb-slide-to="{{ forloop.counter0 }}"
      class="{% if forloop.counter0 == 0 %} active {% endif %}"
      aria-current="true"
    ></button>
    {% endfor %}
  </div>

  <!-- Inner -->
  <div class="carousel-inner" style="width: 100%;
          padding-top: 75%; /* 1:1 Aspect Ratio */
          position: relative;">
      {% for image in images %}
    <!-- Single item -->
    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}" style="
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;">
      <img src="{{ image.image.url }}" class="d-block w-100">
    </div>
      {% endfor %}
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev">
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next">
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->


<h1 class="mb-3">{{ space.building.city }}, ул.{{ space.building.street }}, д.{{ space.building.number }}</h1>
<p>Размещено {{ space.created_tm }}</p>
<h5>Тип помещения: {{ space.type }}</h5>
<h5>Цена:
    {% if space.rent_type == 'Посуточно' %}
    {{ space.day_price|floatformat:"0" }}
    {% else %}
    {{ space.month_price|floatformat:"0" }}
    {% endif %} руб.
</h5>
<h5>Тип аренды: {{ space.rent_type }}</h5>
<h5>Разместил: {{ space.owner.first_name }}</h5>
<h5>Телефон: {{ space.owner.phone }}</h5>
<h5>Описание: </h5>
<p>{{ space.description }}</p>

<!--</div>&lt;!&ndash; END&ndash;&gt;-->
{% endblock content %}
